extends layout

block head
    script(language="javascript", src="/javascripts/socket.io.js")
    script(language="javascript", src="/javascripts/gserver.js")

block content
    input(type="text", readonly="true")

    input#input_message(type="text")
    button#btn_send Send

    button#btn_connect_server 连接