extends layout

block head
    script(language="javascript", src="/javascripts/socket.io.js")
    script(language="javascript", src="/javascripts/gserverpb.js")
    script(language="javascript", src="/javascripts/gserver.js")

block content
    div.row
        div.col-md-2
            ul.nav.nav-pills.nav-stacked
                li.active(role="presentation")
                    a(href="#menu_view_room", data-toggle="tab") 浏览房间
                li(role="presentation")
                    a(href="#muen_create_room", data-toggle="tab") 创建房间
        div.col-md-10.tab-content
            div.tab-pane.fade.active.in#menu_view_room
            div.tab-pane.fade#muen_create_room muen_create_room
    //- input(type="text", readonly="true")

    //- input#input_message(type="text")
    //- button#btn_send Send

    //- button#btn_connect_server 连接