extends layout

block head
    script(language="javascript", src="/javascripts/socket.io.js")
    script(language="javascript", src="/javascripts/gserver.js")

block content
    input(type="text", readonly="true")

    input(type="text")
    button Send
